body{
	background-color: rgb(236, 236, 236);
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header{
	margin-bottom: 30px;
}

.basket_link{
	margin-right: 50px;
}

.pyshop{
	padding-left: 100px;
	padding-right: 100px;
}

.footer{
	flex: 0 0 auto;
	width: 100%;
}

.product-item{
	position: relative;
	height: 370px;
	margin-bottom: 30px;
	background-color: white;
	padding-top: 10px;
	border-radius: 7px;
	border: solid 1px lightgray;
}

.div_img{
	height: 230px;
	display: flex;
}

.img-responsive{
	width: 90%;
	max-height: 230px;
	margin: auto;
}

.productName{
	width: 100%;
	position: absolute;
	bottom: 85px;
}

.name{
	text-align: center;
}

.descr{
	font-size: small;
	padding: 10px;
	text-align: justify;
	position: absolute;
	bottom: 20px;
	line-height: 15px;
}

.price{
	font-weight: 700;
	font-size: large;
	position: absolute;
	bottom: 0px;
	margin-left: 10px;
}

.product-image-item{
	margin-bottom: 25px;
}

.img-responsive-product{
	display: block;
	width: 100%;
}

.name_product_page{
	margin-bottom: 30px;
}

.form_product{
	float: left;
	margin-top: 15px;
}

.form-control-product{
	width: 100px;
	margin-right: 5px;
}

.form_payment{
	margin-bottom: 20px;
}